{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
       
        <div class="container">
            <div class="flex">
                <div class="col-lg-12 ">
                {{ form_start(registrationForm) }}
    
     
                            {{ form_widget(registrationForm)}}
    
             
    
                    <div class="offset-4 col-lg-4">
                        
                        <input type="submit" class="btn btn-primary offset-5 my-5" value="Je créé mon compte">
                
                    </div>
                    
                {{ form_end(registrationForm) }}
    
                </div>
            </div>        
        </div>

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
